*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  color: #eeeeee;
  line-height: 1.6;
  background-color: #18121e;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10vw 40vw min-content 40vw (min-content)[2];
      grid-template-rows: 10vw 40vw -webkit-min-content 40vw repeat(2, -webkit-min-content);
      grid-template-rows: 10vw 40vw min-content 40vw repeat(2, min-content);
  -ms-grid-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(min-content, 14rem) [col-end])[8] [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.heading-2 {
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #984b43;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}

.heading-2::after {
  content: '';
  height: 1px;
  width: 30rem;
  background-color: #233237;
  margin-left: 2rem;
}

.heading-3 {
  font-size: 2.25rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #eac678;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  color: #eac678;
  border: 1px solid #eac678;
  border-radius: 0.4rem;
  padding: 1.25rem 1.75rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #eac678;
  color: #233237;
  -webkit-animation: pulsate 1s infinite;
          animation: pulsate 1s infinite;
}

.btn a:link,
.btn a:visited {
  text-decoration: none;
  color: inherit;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.sidebar {
  background-color: #233237;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
}

.navigation {
  background-color: #18121e;
  grid-column: full-start / full-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 6rem;
}

.navigation__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item {
  position: relative;
  color: #ffffff;
  font-weight: 500;
  z-index: 20;
}

.navigation__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #984b43;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  transition: transform 0.2s, width 0.3s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s;
  z-index: -1;
}

.navigation__item:hover::before, .navigation__item--active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.navigation__item:active::before {
  background-color: #984b43;
}

.navigation__link:link, .navigation__link:visited {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #eeeeee;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 10;
}

.header {
  background-color: transparent;
  grid-column: center-start / center-end;
  padding-top: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(min-content, max-content);
      grid-template-columns: minmax(-webkit-min-content, -webkit-max-content);
      grid-template-columns: minmax(min-content, max-content);
  gap: 1.5rem 0;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.header__greeting, .header__summary {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.header__title {
  font-family: "Montserrat", sans-serif;
  font-size: 7rem;
  font-weight: 300;
  letter-spacing: 2.5px;
  color: #984b43;
  text-transform: uppercase;
}

.header__btn {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 20%;
}

.about {
  background-color: transparent;
  grid-column: center-start / center-end;
  margin-bottom: 10rem;
}

.about__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 2fr;
      grid-template-columns: 3fr 2fr;
  gap: 5rem;
}

.about__content {
  background-color: transparent;
  padding: 2rem;
}

.about__me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.7rem;
  padding: 1rem;
}

.about__paragraph {
  line-height: 1.4;
  margin: 2rem 0;
}

.about__list {
  list-style: none;
  padding-top: 2rem;
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  margin-bottom: 0.7rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.about__item span {
  padding: 0 0.5rem;
  font-weight: 500;
}

.about__item::before {
  content: '';
  display: inline-block;
  height: 1.7rem;
  width: 1.7rem;
  margin-right: 0.8rem;
}

@supports (-webkit-mask-image: url()) {
  .about__item::before {
    background-color: #eac678;
    -webkit-mask-image: url(../img/chevrons-right.svg);
    mask-image: url(../img/chevrons-right.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    background-image: none;
  }
}

.about__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 8rem;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__self {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.7);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.7);
}

.about__box {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 2rem;
  left: 2rem;
  border: 2px solid #984b43;
  z-index: -1;
}

.contact {
  background-color: #984b43;
  grid-column: full-start / full-end;
}

.projects {
  background-color: #233237;
  grid-column: center-start / center-end;
}

.footer {
  background-color: #eac678;
  grid-column: full-start / full-end;
}
/*# sourceMappingURL=main.css.map */