.about {
  background-color: transparent;
  grid-column: center-start / center-end;
  margin-bottom: 10rem;

  &__inner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 5rem;
  }

  &__content {
    background-color: transparent;
    padding: 2rem;
  }

  &__me {
    display: flex;
    flex-direction: column;
    font-size: 1.7rem;
    padding: 1rem;
  }

  &__paragraph {
    line-height: 1.4;
    margin: 2rem 0;
  }

  &__list {
    list-style: none;
    padding-top: 2rem;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
    font-size: 1.5rem;
    font-weight: 300;

    span {
      padding: 0 0.5rem;
      font-weight: 500;
    }
  }

  &__item::before {
    content: '';
    display: inline-block;
    height: 1.7rem;
    width: 1.7rem;
    margin-right: 0.8rem;

    @supports (-webkit-mask-image: url() or (mask-image: url())) {
      background-color: $accent-color-1;
      -webkit-mask-image: url(../img/chevrons-right.svg);
      mask-image: url(../img/chevrons-right.svg);
      -webkit-mask-size: cover;
      mask-size: cover;
      background-image: none;
    }
  }

  &__picture {
    display: flex;
    margin-left: 8rem;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  &__self {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.7);
  }

  &__box {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 2rem;
    left: 2rem;
    border: 2px solid $secondary-color;
    z-index: -1;
  }
}
